.login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.login-form{
    padding: 16px 32px;
    box-shadow: 1px 1px 2px;
    border-radius: 4px;
}
.login-form span{
    display: flex;
}
.login-form input{
    margin: 0 4px;
}